<h3>Icones</h3>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-angle-left fa-2x"></i>
      </div>
    </div>
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-bell fa-2x"></i>
      </div>
    </div>
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-calendar-alt fa-2x"></i>
      </div>
    </div>
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-pen fa-2x"></i>
      </div>
    </div>
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-search fa-2x"></i>
      </div>
    </div>
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-check-circle fa-2x"></i>
      </div>
    </div>
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-times-circle fa-2x"></i>
      </div>
    </div>
    <div class="col">
      <div class="h4 text-center shadow-sm bg-white p-4">
        <i class="fas fa-exclamation-circle fa-2x"></i>
      </div>
    </div>
  </div>
</div>