<div class="container-fluid w-100 vh-100 overflow-hidden p-0">
    <div class="container-fluid w-100 h-100 overlay  position-absolute">
        <div class="float-right p-5 w-50">
            <app-login-form></app-login-form>
        </div>
        <div class="float-right p-5 w-50 text-light">
            <p class="p-4">O sistema De Orelha em Pé é uma plataforma Web que tem como objetivo fornecer um serviço de
                denúncias de maus-tratos e abandono de animais na região de Quixadá-CE, as denúncias serão
                direcionadas ao centro de controle de zoonoses da cidade, que tomará as providências cabíveis. O centro
                de zoonoses funcionará como um portal de transparência dando feedbacks dos casos resolvidos e de como
                eles podem atuar para solucionar os problemas relacionados ao tema. O sistema também conta com um mapa
                das regiões de maior abandono e animais perdidos na cidade a partir das ocorrências registradas.</p>
        </div>
    </div>
    <carousel [showIndicators]="false" class="carousel">
        <slide>
            <img src="https://image.freepik.com/fotos-gratis/animais-em-um-fundo-branco_78621-695.jpg" alt="first slide"
                class="w-100 h-100">
        </slide>
        <slide>
            <img src="https://image.freepik.com/fotos-gratis/lindo-gatinho-bonitinho-com-lindos-olhos-amarelos-na-areia-branca-no-jardim-ao-ar-livre_63726-243.jpg"
                alt="second slide" class="w-100 h-100">
        </slide>
        <slide>
            <img src="https://image.freepik.com/fotos-gratis/jovem-cao-branco-jack-rusel-quer-brincar-ao-ar-livre_447-19326928.jpg"
                alt="third slide" class="w-100 h-100">
        </slide>
    </carousel>
</div>