<div class="container p-4">

  <div class="card border-0 mb-3">
    <div *ngIf="loading || !data; else card">
      <div class="card-header bg-white d-flex align-items-center">
        <span class="spinner-border text-primary " style="height: 1.5rem; width: 1.5rem" role="status"
          aria-hidden="true"></span>

        <h5 class="card-tittle text-primary ml-2 mb-0">Carregando...</h5>
      </div>
    </div>
    <ng-template #card>
      <div class="card-header bg-white p-2 d-flex justify-content-between align-items-center">
        <h5 class="card-tittle text-primary mb-0 ml-2">{{ data.title }}</h5>
        <button class="btn btn-outline-primary bg-white mr-2 border-2" type="button" (click)="back()">
          <i class="text-secondary fa fa-times"></i>
        </button>
      </div>
      <div class="card-body bg-light ">
        <div class="row">
          <div
            [class]="(data.category.key != 'maus-tratos' || mostrar || user?._id == data.user._id)? 'col-6': 'col-12'">
            <p class="text-primary"> <b>Descrição:</b></p>
            <p class="text-dark">
              {{ data.description }}
            </p>

          </div>
          <!-- adm interface -->
          <div *ngIf="data.category.key != 'maus-tratos' || mostrar || user?._id == data.user._id; else userI"
            class="col-6">
            <div class="row">
              <p class="text-primary">
                <b>Categoria: </b>
                <i class="text-{{data.category.key}} fa fa-circle"></i>
                {{data.category.name}}
              </p>
            </div>
            <div class="row">
              <p class="text-primary"> <b>Midias:</b></p>
            </div>
            <app-gallery [images]="data.files"></app-gallery>
          </div>
          <!-- user interface -->
          <ng-template #userI>
            <div class="col-12">

              <p class="text-primary">
                <b>Categoria: </b>
                <i class="text-{{data.category.key}} fa fa-circle"></i>
                {{data.category.name}}
              </p>

            </div>
          </ng-template>
        </div>
      </div>
      <div class="card-footer bg-white px-2 text-right" [ngClass]="{'py-4': !mostrar}">
        <div *ngIf="mostrar">
          <app-button [type]="'secondary'" (click)="isOpen = !isOpen"><b>Enviar Feedback</b></app-button>
          <div *ngIf="isOpen" class="pb-2"></div>
          <accordion>
            <accordion-group [isOpen]="isOpen" panelClass="bg-light xxx">
              <form #f="ngForm" (ngSubmit)="submit(f)">
                <div class="form-group">
                  <input class="d-none" type="text" name="status" #status="ngModel" ngModel required>
                  <app-select [itens]="selectcItens" (selected)="selectCategory($event)"></app-select>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="description" placeholder="DESCRIÇÃO " rows="3"
                    #decription="ngModel" ngModel required></textarea>
                </div>
                <button class="btnx btnx-primary"> Enviar </button>
              </form>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </ng-template>
  </div>


  <div class="card border-0 mb-3">
    <div *ngIf="loading || !data; else timeLine" class="p-3 d-flex">
      <div class="card-header bg-white d-flex align-items-center">
        <span class="spinner-border text-primary " style="height: 1.5rem; width: 1.5rem" role="status"
          aria-hidden="true"></span>

        <h5 class="card-tittle text-primary ml-2 mb-0">Carregando...</h5>
      </div>
    </div>
    <ng-template #timeLine>
      <div class="card-header bg-white d-flex">
        <h5 class="text-primary mb-0 d-inline">Linha do tempo</h5>
        <div *ngFor="let s of readStatus(data.status)" class="ml-2 d-flex align-items-center">
          <span [ngClass]="s.ok?'badge-'+s.key+'':'badge-falta'"  class="badge badge-pill ">{{s.name}}</span>
          <span *ngIf="s.ok" class=" text-primary-l fas fa-check-circle "></span>

        </div>

      </div>
      <ul class="list-group list-group-flush">
        <li *ngFor="let s of data.timeLine" class="list-group-item text-dark">
          <span class="badge badge-pill badge-{{s.status.key}}">{{s.status.name}}</span>
          {{s.description}}
          <span class="float-right">{{s.date | date:"dd/MM/yyyy"}}</span>
        </li>

      </ul>
    </ng-template>
    <div class="card-footer py-4">

    </div>
  </div>

  <div class="card border-0 ">
    <div class="card-header bg-white">
      <h5 class="text-primary mb-0">Comentarios</h5>
    </div>
    <div *ngIf="loading || !data; else comentarios" class="p-3 d-flex">
      <span class="spinner-border text-primary " style="height: 1.5rem; width: 1.5rem" role="status"
        aria-hidden="true"></span>

      <h5 class="card-tittle text-primary ml-2 mb-0">Carregando...</h5>
    </div>
    <ng-template #comentarios>

      <ul *ngIf="data.coments.length > 0; else empty" class="list-group list-group-flush">
        <li *ngFor="let c of data.coments" class="list-group-item text-dark d-flex justify-content-between">
          <span> {{c.text}} </span>
          <span> {{c.date | date:"dd/MM/yyyy"}} </span>
        </li>
      </ul>
      <ng-template #empty>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-dark">
            Sem comentarios.
          </li>
        </ul>

      </ng-template>
      <div class="card-footer bg-white px-2 py-3 text-right" [ngClass]="{'py-4': mostrar}">
        <div *ngIf="!mostrar">
          <form #c="ngForm" (ngSubmit)="addComent(c)">
            <div class="form-group">
              <textarea class="form-control" name="coment" placeholder="Adicione um comentario" rows="3"
                #coment="ngModel" ngModel required></textarea>
            </div>
            <button class="btnx btnx-primary"> Enviar </button>
          </form>
        </div>
      </div>
    </ng-template>

  </div>

</div>