<div class="card border-0 mb-3">
  <div class="card-header bg-white">
    <h5 class="card-tittle text-primary mb-0">Detalhes {{id}}</h5>
  </div>
  <div class="card-body bg-light ">
    <div class="row">
      <div class="col-6">
        <p class="text-primary"> <b>Descrição:</b></p>
        <p class="text-dark">It is a long established fact that a reader will be distracted by the readable content of a
          page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content here'.</p>

      </div>
      <div class="col-6">
        <div class="row">
          <p class="text-primary"> <b>Categoria:</b> <i class="fa fa-circle" style="color: dodgerblue"></i> mau trato
          </p>
        </div>
        <div class="row">
          <p class="text-primary"> <b>Midias:</b></p>
        </div>
        <app-gallery></app-gallery>
      </div>
    </div>
  </div>
  <div class="card-footer bg-white  py-4"></div>
</div>

<div class="card border-0 ">
  <div class="card-header bg-white">
    <h5 class="text-primary mb-0">Linha do tempo</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item text-dark">
      <span class="badge badge-pill badge-primary">Status</span>
      Lorem Ipsum
      <span class="float-right">10/02/2019</span>
    </li>
    <li class="list-group-item text-dark">
      <span class="badge badge-pill badge-info">Status</span>
      Lorem Ipsum
      <span class="float-right">10/02/2019</span>
    </li>
    <li class="list-group-item text-dark">
      <span class="badge badge-pill badge-warning">Status</span>
      Lorem Ipsum
      <span class="float-right">10/02/2019</span>
    </li>

  </ul>
  <div class="card-footer py-4"></div>
</div>