@import '~src/assets/styles/_variaveis.scss';

.navbar-nav {
    .nav-link{
        padding: 0 .5rem;
    }
    .active > .nav-link{
        background-color: $secondary;
        border-radius: $border-radius;
    }
}

.navbar-brand{
    img{
        // background-image: url('~src/assets/img/Caminho-18.png');
        // background-size: 25px 25px;
        max-width: 8rem;
    }
}

.z-fix{
    z-index: 11111;
}

.cursor{
    cursor: pointer;
    &:hover{
        color: $primary
    }
}