<div class="div">

  <div class="formulario" [hidden]="etapa1">
    <div class="bloco">
      <div class="etapa">
        <div style="color: white; background-color: #006051;">1</div>
        <p>DADOS</p>
      </div>
      <div class="etapa">
        <div>2</div>
        <p>EVIDÊNCIA</p>
      </div>
      <div class="etapa" id="tres">
        <div>3</div>
        <p>LOCALIZAÇÃO</p>
      </div>
      <div class="linha"></div>
    </div>
    <div class="bloco-form">
      <b>
        <p>DADOS DA OCORRÊNCIA</p>
      </b>
      <input class="form-control" type="text" placeholder="TÍTULO DA OCORRÊNCIA">
      <div class="form-group">
        <label for="exampleFormControlSelect1"></label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>CATEGORIA</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="DESCRIÇÃO SOBRE A OCORRÊNCIA"
          rows="3"></textarea>
      </div>
      <app-button (click)="etapa1=true;etapa2=false">Próximo</app-button>
    </div>
  </div>

  <div class="formulario" [hidden]="etapa2">
    <div class="bloco">
      <div class="etapa">
        <div style="color: white; background-color: #006051;">1</div>
        <p>DADOS</p>
      </div>
      <div class="etapa">
        <div style="color: white; background-color: #006051;">2</div>
        <p>EVIDÊNCIAS</p>
      </div>
      <div class="etapa" id="tres">
        <div>3</div>
        <p>LOCALIZAÇÃO</p>
      </div>
      <div class="linha"></div>
    </div>
    <div class="bloco-form" id="etapa2">
      <b>
        <p>EVIDÊNCIAS</p>
      </b>
      <form>
        <div class="mb-4 col">
          <div class="filx">
            <input type="file" class="filx-input" id="customFile">
            <label class="filx-label py-3 btn  btn-block" for="customFile">Adicionnar arquivos</label>
          </div>
        </div>
        <!-- <div class="form-group">
                <label for="exampleFormControlFile1"></label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div> -->
      </form>
      <div>
        <app-button class="mt-2" (click)="etapa1=false;etapa2=true" [type]="'secondary'">
          Voltar
        </app-button>
        <app-button (click)="etapa2=true;etapa3=false">Próximo</app-button>
      </div>
    </div>
  </div>

  <div class="formulario" [hidden]="etapa3">
    <div class="bloco">
      <div class="etapa">
        <div style="color: white; background-color: #006051;">1</div>
        <p>DADOS</p>
      </div>
      <div class="etapa">
        <div style="color: white; background-color: #006051;">2</div>
        <p>EVIDÊNCIAS</p>
      </div>
      <div class="etapa" id="tres">
        <div style="color: white; background-color: #006051;">3</div>
        <p>LOCALIZAÇÃO</p>
      </div>
      <div class="linha"></div>
    </div>
    <div class="bloco-form" id="etapa3">
      <b>
        <p>LOCALIZAÇÃO</p>
      </b>
      <div class="mapa"></div>
      <div class="loc">OBTER LOCALIZAÇÃO AUTOMATICAMENTE</div>
      <div>
        <input class="form-control" type="text" style="width: 510px" placeholder="Endereço">
        <input class="form-control" type="text" placeholder="Bairro">
      </div>
      <div>
        <app-button (click)="etapa2=false;etapa3=true;" [type]="'secondary'">
          Voltar
        </app-button>
        <app-button routerLink="/">FINALIZAR</app-button>

      </div>
    </div>
  </div>
</div>