.tt{
    width: 80%;
}

.div{
    width: 100%;
    height: auto;
    // display: flex;
    // justify-content: center;
    text-align: center;
}
.formulario{
    width: 100%;
    height: auto;
    // display: flex;
    // justify-content: center;
}
.bloco{
    margin-top: 50px;
    width: 50%;
    height: auto;
    // overflow: hidden;
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;   
}

.etapa{
    width: 70px;
    height: auto;
    margin-right: 10%;
.etapa{
    // width: 70%;
    // height: auto;
    margin-right: 30%;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    div{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: solid 2px #006051;
        // margin-right: 300px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #006051;
        background-color: white; 
    }
    p{
        margin-top: 10px;
        position: relative;
    }
}
#tres{
    margin-right: 0;
    width: 50px;
    p{
        left: -26%;
    }
}

.linha{
    // width: 90%;
    display: inline-block;
    height: 2px;
    background-color: #006051;
    // position: absolute;
    // bottom: 72%;
    // z-index: -1;  
}
.bloco-form{
    // width: 70%;
    // height: auto;
// .linha{
//     width: 6%;
//     height: 2px;
//     background-color: #006051;
//     position: absolute;
//     bottom: 72%;
//     z-index: -1;  
// }
.bloco-form{
    width: 80%;
    height: auto;
    box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.253), 0 3px 6px 0 rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    // margin-top: 50px;
    // z-index: 2;
    // position: absolute;
    text-align: center;
    // overflow: hidden;
    p{
        padding-top: 20px;
    }
    .form-control, .dropdown{
    width: 80%;
    display: inline-block;
    margin: 10px;
    }
    .mapa{
        text-align: left;
        width: 80%;
        height: 250px;
        box-shadow: 0 7px 14px 0 rgba(59, 65, 94, 0.253), 0 3px 6px 0 rgba(0, 0, 0, 0.192);
        display: inline-block;
        margin: 15px;
        border-radius: 10px;
        overflow: hidden;
    }
}
#etapa2{
    app-button{
        margin-bottom: 50px;
        position: relative;
    } 
}
#etapa3{
    .loc{
        width: 80%;
        height: auto;
        border: dotted 3px rgb(155, 155, 155);
        border-radius: 5px;
        display: inline-block;
        color: rgb(155, 155, 155);
        cursor: pointer;
        margin-bottom: 15px;
    }
    input, .form-control{
        display: inline-block;
        margin: 10px;
        width: auto;
    }
}