<h3>Botões</h3>

<div class="container">
  <app-button> Enviar </app-button>
  <app-button [type]="'secondary'" >
    Voltar 
  </app-button>
  <app-button [type]="'danger'" > Cancelar </app-button>
  <app-button [type]="'danger'" > 
    Realizazr Deuncia 
  </app-button>

  <!-- <button class="btnx btnx-primary-outline">teste</button>
  <button class="btnx btnx-secondary-outline">teste</button>
  <button class="btnx btnx-facebook-outline">teste</button>
  <button class="btnx btnx-github-outline">teste</button> -->

  
</div>