.img-prev{
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-size: cover;
    cursor: pointer;
}

.img-name{
    white-space: nowrap;
    text-overflow: ellipsis;
}

.img-icons{
    &:hover{
        color: #e74054;
        cursor: pointer;
    }
}