.cat{
    // width: 80px;
    height: 80px;
    // border-radius: 50%;
}
p{
    margin: 0;
}
.rounded{
    cursor: pointer;
}
.maus-tratos{
    background-color: #E74054;
}
.abandono{
    background-color: #FFD21F;
}
.nocivo{
    background-color: #E98F2B;
}