<div class="w-100 h-auto mt5">
    <app-inicio></app-inicio>
    <app-orgaos></app-orgaos>
    <!-- <app-mapa></app-mapa> -->
    <app-leis></app-leis>
    <app-acoes></app-acoes>
    <app-faq></app-faq>
    <div class="container-fluid w-100 p-5 bg-primary d-flex justify-content-center align-items-center">
        <img class="p-3 h-auto w-25" src="../../../assets/img/Grupo 178.png" alt="Quixadá">

        <footer class="font-italic small">

            <!-- Copyright -->
            <div class="text-center text-light">© 2019 Copyright:
                De Orelha em Pé - Projeto Integrado 2019.1
            </div>
            <!-- Copyright -->

        </footer>

    </div>
</div>