
.card-active{
    border: 2px solid #E98F2B !important;
    box-shadow: 0px 0px 0px 1112px rgba(0,0,0,.25);
    z-index: 1;
    pointer-events: none 
}

.card-active ~ .card{
    background-color: #83e  !important;
}

.max-h-50px{
    max-height: 50px;
    overflow: hidden;
}

.cursor{
    cursor: pointer;
    &:hover{
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5);
        transform: translate(0px, -1px)
    }
}