<div class="card border-0 mb-3">
  <div class="card-header py-1 bg-white">
    <p class="card-tittle text-primary mb-0">Titulo</p>
  </div>
  <div class="card-body max-h-50px p-2 bg-light ">
      
        <!-- <p class="text-primary"> <b>Descrição:</b></p> -->
        <p class="text-dark mb-0 small">It is a long established fact that a reader will be distracted by the readable content of a
          page when looking at its layout.</p>

    
  </div>
  <div class="card-footer py-1 bg-white ">
    <div class="row ">
      <div class="col-6 small">
        <span class="fa fa-circle"></span>
        Categoria
      </div>
      <div class="col-6"><span class="badge badge-success">Status</span> </div>
    </div>
  </div>
</div>