<div *ngIf="data as occ; else erro">

  <div *ngIf="occ.length > 0; else empty">
    <div *ngFor="let o of occ">

      <div routerLinkActive="card-active" [routerLink]="['info', o._id]" class="card border-0 mb-3 cursor" >
        <div class="card-header px-2 py-1 bg-white">
          <p [title]="o.title" class="card-tittle text-primary mb-0">
            {{o.title}}
          </p>
        </div>
        <div class="card-body max-h-50px py-2 bg-white " >

          <!-- <p class="text-primary"> <b>Descrição:</b></p> -->
          <p [title]="o.description" class="text-dark mb-0 small">
            {{o.description}}
          </p>


        </div>
        <div class="card-footer px-2 py-1 bg-white ">
          <div class="row align-items-center ">
            <div class="col-6 small text-collapse " tooltip="Categoria">
              <span class="text-{{o.category.key}}  fa fa-circle"></span>
              <span [title]="o.category.name">
                {{o.category.name}}
              </span>
            </div>
            <div class="col-6 text-collapse "tooltip="Status">
              <span class="badge badge-{{o.status.key}}">
                <span [title]="o.status.name">
                  {{o.status.name}}
                </span>
              </span>
            </div>
            <!-- <div class="col-2 ">
              <a >
                <i class="fas fa-search-plus text-secondary"></i>

              </a>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
  <ng-template #empty>
    <p>vazio</p>
  </ng-template>

</div>

<ng-template #erro>

  <div *ngIf="error$ | async; else loading"> Erro </div>



  <ng-template #loading>
    <div>Carregando...</div>
  </ng-template>

</ng-template>