<div class="container-fluid bg-light">
  <app-brand></app-brand>

  <app-tipography></app-tipography>

  <app-icons></app-icons>

  <app-colors></app-colors>

  <app-buttons></app-buttons>

  <app-form></app-form>

  <app-dialog-modal></app-dialog-modal>

  <app-notification></app-notification>

  <app-header></app-header>

  <app-carousel></app-carousel>

  <section>
      <h3>Botões redes sociais</h3>
      <div class="container">
          <app-button [type]="'facebook'">
              <i class="fab fa-facebook-f"></i>
          </app-button>
          <app-button [type]="'facebook'">
              <i class="fab fa-facebook-f"></i> Facebook
          </app-button>

          <app-button [type]="'google'">
              <i class="fab fa-google"></i>
          </app-button>
          <app-button [type]="'google'">
              <i class="fab fa-google"></i> Google
          </app-button>

          <app-button [type]="'github'">
              <i class="fab fa-github"></i>
          </app-button>
          <app-button [type]="'github'">
              <i class="fab fa-github"></i> Github
          </app-button>
      </div>

  </section>



  <app-card></app-card>


</div>

<app-header></app-header>
