<div class="container-fluid w-100 h-auto p-5" style="background-color:#f5d372;" [ngClass]="{'mt-5': margin}">
  <h2 class="p-4 text-primary font-weight-bold">Perguntas frequentes</h2>
  <accordion>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Quanto tempo o CCZ leva para resolver um caso?</div>
      </button>
      <p class="text-light">Denúncias de maus-tratos levam 24 horas para serem averiguadas e levadas até</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Oque eu devo escrever na denúncia para ela ser legitimada ?
        </div>
      </button>
      <p class="text-light">É importante apresentar dados do agressor, caso o caso seja de maus-tratos, como o nome,
        aparência, se aparenta possuir arma, e as agressões que estão ocorrendo. sempre apresente</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">O caso de agressão animal está ocorrendo agora oque faço?
        </div>
      </button>
      <p class="text-light">É importante alerta que o CCZ trabalha como ponte com a polícia, quando uma denúncia é
        encaminhada para o CCZ o órgão se torna o denunciante, que abrirá um BO contra o agressor, mas as denúncias
        podem ser feitas no 190, ou na delegacia para que o caso seja apurado,</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">O Que se classifica como maus-tratos?</div>
      </button>
      <p class="text-light">Abandonar, espancar, golpear, mutilar e envenenar;
        – Manter preso permanentemente em correntes;
        – Manter em locais pequenos e anti-higiênico;
        – Não abrigar do sol, da chuva e do frio;
        – Deixar sem ventilação ou luz solar;
        – Não dar água e comida diariamente;
        – Negar assistência veterinária ao animal doente ou ferido;
        – Obrigar a trabalho excessivo ou superior a sua força;
        – Capturar animais silvestres;
        – Utilizar animal em shows que possam lhe causar pânico ou estresse;
        – Promover violência como rinhas de galo, farra-do-boi etc.
      </p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Como podem ser realizadas as denúncias?</div>
      </button>
      <p class="text-light">Por meio de formulário eletrônico disponível em nossa plataforma, na sede do CCZ, pelo 190
        ou diretamente na Delegacia de Polícia.</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Quem pode apresentar denúncia no De orelha em Pé?</div>
      </button>
      <p class="text-light">Qualquer cidadão quixadaense maior de 18 anos apto a denunciar maus tratos contra animais no
        município de Quixadá.</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Quais são as os requisitos que a denúncia deve conter?</div>
      </button>
      <p class="text-light">O usuário deve estar logado no sistema, informar o título, categoria e descrição da
        ocorrência, além de adicionar mídia e informar o endereço detalhado da ocorrência.</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Qual o tempo necessário para que minha denúncia seja
          visualizada?</div>
      </button>
      <p class="text-light">O CCZ dá o prazo de até 24h para que todas as denúncias feitas no sistema sejam
        visualizadas, e a partir daí sejam verificadas e se confirmadas sejam solucionadas de acordo com a sua
        competência ou direcionada para outro órgão;</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">O que acontece com a denúncia encaminhada ao CCZ?</div>
      </button>
      <p class="text-light">Ao receber a denúncia, o CCZ faz uma averiguação da mesma indo ao endereço indicado na
        ocorrência, podendo ser acompanhado da polícia militar, caso sinta necessidade. Ao confirmar a denúncia de maus
        tratos ele, abrirá um Boletim de Ocorrência para que o caso seja apurado.</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Como eu saberei do andamento da minha denúncia?</div>
      </button>
      <p class="text-light">Dentro do sistema, o CCZ dará feedbacks de cada estado da denúncia, informando com
        transparência sobre os caminhos percorridos por cada denúncia.</p>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link btn-block clearfix" accordion-heading>
        <div class="pull-left float-left text-uppercase h5">Onde serão disponibilizadas as informações sobre as
          denúncias?</div>
      </button>
      <p class="text-light">Na ferramenta será possível visualizar maiores informações de cada de denúncia e o seu
        andamento.</p>
    </accordion-group>
  </accordion>
</div>