<div class="side-menu row p-3 bg-primary-l h-100 flex-column flex-nowrap ">
  <form >
    <h4 class="px-2 text-white" >Ocorrências</h4>

    <div class="form-row flex-nowrap">
      <div class="form-group w-100 has-search">
        <span class="text-secondary fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Pesquisar">
      </div>
      <div class="form-group ml-2">
        <div dropdown class="dropdown">
          <button dropdownToggle id="dLabel" class="no-dd-icon btn btn-outline-primary bg-white" type="button">
            <i class="text-secondary fa fa-filter"></i>
          </button>
          <div *dropdownMenu role="menu" class="dropdown-menu dropdown-menu-right animate slideIn" aria-labelledby="dLabel">

            <div role="menuitem" class="dropdown-item">
              <span class="text-danger fa fa-circle"></span>
              Maus-tratos
            </div>
            <div role="menuitem" class="dropdown-item">
              <span class="text-info fa fa-circle"></span>
              Perdidos
            </div>
            <div role="menuitem" class="dropdown-item">
              <span class="text-secondary fa fa-circle"></span>
              Situação nociva a saúde
            </div>

          </div>
        </div>

      </div>
    </div>

    <hr class="w-100 bg-primary mt-0 mb-3" >


  </form>

  <!-- <nav class="nav flex-column  w-100">

    <app-side-menu-card></app-side-menu-card>
    <app-side-menu-card></app-side-menu-card>
    <app-side-menu-card></app-side-menu-card>
    <app-side-menu-card></app-side-menu-card>
  </nav> -->

  <div class="nav flex-column flex-nowrap over-x h-100 w-100 zz">
      <app-side-menu-card *ngFor="let a of array"
      [routerLink]="['info', a]" routerLinkActive="igo" class="pow"></app-side-menu-card>
      
  </div>
  <div class="toggler-content">
    <div (click)="toggle()" class="menu-toggler px-2 bg-primary-l text-secondary" [ngClass]="{' animation': !isactive}">
      <i class="fas fa-angle-left fa-2x" ></i>
    </div>
  </div>
  
</div>