<!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand text-light" routerLink="/">
    <img src="./../../../assets/img/Caminho-18.png" alt="">
  </a>
</nav> -->
<div class="container-fluid">
  <div class="row fix-height">
    <div class="menu bg-primary-l">
      <div class="container d-flex align-items-center shadow-sm text-light p-3">
        <div class="rounded-circle foto bg-primary"></div>
        <b> {{ authService.getUser().name }}</b>
      </div>
      <div class="container d-flex align-items-center text-light p-3 w-75 rounded mt-2"
      [routerLink]="['/ccz']" routerLinkActive="select" >
        <img src="../../../assets/img/voice-speaker.png" class="icone" alt="">
        <b>Denúncias</b> 
      </div>
      <div class="container d-flex align-items-center text-light p-3 w-75 rounded mt-2">
        <img src="../../../assets/img/paw-print-.png" class="icone" alt="">
        <b>Ações</b>
      </div>
      <div class="container d-flex align-items-center text-light p-3 w-75 rounded mt-2">
        <img src="../../../assets/img/conversation-questions.png" class="icone" alt="">
        <b>Dúvidas Frequentes</b>
      </div>
      <div class="container d-flex align-items-center text-light p-3 w-75 rounded mt-2"
      [routerLink]="['map']" routerLinkActive="select">
        <img src="../../../assets/img/map-with-placeholder.png" class="icone" alt="">
        <b>Mapa</b>
      </div>
    </div>
    <div class="col h-100 px-0 overflow-auto">
      <router-outlet></router-outlet>
      <!-- <div class="container p-5">
        <div class="container p-4">
            <div class="container d-flex align-items-center justify-content-between shadow-sm text-light p-3 m-3 rounded">
              <div>
                <div class="rounded-circle foto bg-primary"></div>
                <b>Ismael</b>
              </div>
              <div>
                <p class="text-uppercase font-weight-bold m-0">cachorro amarrado</p>
              </div>
              <div>
                <p class="m-0">Categoria:</p>
                <div class="d-flex align-items-center">
                  <div class="rounded-circle cat bg-light"></div>
                  <p class="m-0 font-weight-bold">Maus Tratos</p>
                </div>
              </div>
              <div>
                <p class="m-0">Status:</p>
                <div class="d-flex align-items-center">
                  <div class="rounded-circle cat bg-light"></div>
                  <p class="m-0 font-weight-bold">Recebida</p>
                </div>
              </div>
              <div class="text-right">
                <p class="text-uppercase m-0">11/06/2019</p>
                <p class="font-weight-bold m-0">01:09 AM</p>
              </div>
            </div> -->
            
          <!-- <div class="alert alert-primary" role="alert">
            Um simples alerta primary. Olha só!
          </div>
          <div class="alert alert-secondary" role="alert">
            Um simples alerta secondary. Olha só!
          </div>
          <div class="alert alert-success" role="alert">
            Um simples alerta success. Olha só!
          </div>
          <div class="alert alert-danger" role="alert">
            Um simples alerta danger. Olha só!
          </div>
          <div class="alert alert-warning" role="alert">
            Um simples alerta warning. Olha só!
          </div>
          <div class="alert alert-info" role="alert">
            Um simples alerta info. Olha só!
          </div>
          <div class="alert alert-light" role="alert">
            Um simples alerta light. Olha só!
          </div>
          <div class="alert alert-dark" role="alert">
            Um simples alerta dark. Olha só!
          </div> -->
        </div>
      </div>
    </div>
 