.mapa{
    width: 100%;
    height: 300px;
}
  
.mapboxgl-ctrl-geocoder-lg { 
    min-width:100%;
    width: 100% !important;
    max-width: 100% !important; 
}


// steps

.step{
    color: white !important; 
    background-color: #006051 !important;
}

.bloco{
    // margin-top: 50px;
    width: 50%;
    height: auto;
    // overflow: hidden;
    // position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;   
}

.etapa{
    width: 70px;
    height: auto;
    margin-right: 10%;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    div{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: solid 2px #006051;
        // margin-right: 300px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        color: #006051;
        background-color: white; 
    }
    p{
        margin-top: 10px;
        position: relative;
    }
}