<div class="container p-5">
  <div class="container p-4">
    <div class="container d-flex align-items-center justify-content-between shadow-sm text-light p-3 m-3 rounded"
    [routerLink]="['info', 1]">
      <div>
        <div class="rounded-circle foto bg-primary"></div>
        <b>Ismael</b>
      </div>
      <div>
        <p class="text-uppercase font-weight-bold m-0">cachorro amarrado</p>
      </div>
      <div>
        <p class="m-0">Categoria:</p>
        <div class="d-flex align-items-center">
          <div class="rounded-circle cat bg-light"></div>
          <p class="m-0 font-weight-bold">Maus Tratos</p>
        </div>
      </div>
      <div>
        <p class="m-0">Status:</p>
        <div class="d-flex align-items-center">
          <div class="rounded-circle cat bg-light"></div>
          <p class="m-0 font-weight-bold">Recebida</p>
        </div>
      </div>
      <div class="text-right">
        <p class="text-uppercase m-0">11/06/2019</p>
        <p class="font-weight-bold m-0">01:09 AM</p>
      </div>
    </div>
  </div>
</div>