<div class="h-100 w-100" id="map"></div>

<div class="legenda list-group">
    <ul>
        <li class="list-group-item py-1 px-2">
            <span class="text-maus-tratos fa fa-circle"></span> Maus tratos
        </li>
        <li class="list-group-item py-1 px-2" > 
            <span class="text-abandono fa fa-circle"></span> Abandono
        </li>
        <li class="list-group-item py-1 px-2">
            <span class="text-nocivo-a-saude fa fa-circle"></span> Nocivo a saúde
        </li>
    </ul>
</div>