<div class="row justify-content-center mb-4 ">
  <h3 class="text-primary">LOGIN</h3>
</div>

<div *ngIf="erroLogin" class="alert alert-danger"> Usuario ou sennha invalidos </div>

<div class="row mb-4">
  <div class="col">
    <button class="btnx btnx-google  btn-block" >
      <i class="fab fa-google mr-2"></i>
      Google
    </button>
  </div>
  <div class="col">
    <button class="btnx btnx-facebook  btn-block">
      <i class="fab fa-facebook-f mr-2"></i>
      Facebook
    </button>
  </div>
</div>

<hr data-content="OU" class="hr-text text-primary">

<form class="form" role="form" #uForm="ngForm" (ngSubmit)="onSubmit(uForm)">
  <div class="form-group">
    <!-- <label for="email">Email</label> -->
    <input class="form-control" id="email" name="email" type="email" placeholder="nome@email.com"
     ngModel required email>
  </div>
  <div class="form-group">
    <!-- <label for="pwd">Senha</label> -->
    <input class="form-control" id="pwd" name="password" type="password" placeholder="Senha"
     ngModel required>
  </div>
  <div class="form-check custom-control custom-checkbox small">
      <input type="checkbox" class="custom-control-input" id="formCheck1">
      <label class="custom-control-label" for="formCheck1">
          | Lembre-se de mim neste computador.
      </label>
  </div>
  <button class="btnx btnx-primary  btn-block mt-3" type="submit">Entrar</button>
  <hr data-content="NÃO POSSUI CONTA ?" class="hr-text text-primary">
  <div class="form-group mt-3">
    <button class="btnx btnx-secondary  btn-block mt-3" type="button" (click)="cad()">Cadastre-se</button>
  </div>
  
</form>