<div class="section">
  <h3 class="title">Tipografia </h3>
  <h5 class="ml-2" >Roboto</h5>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="typography-line">
          <h1>
            <span>Header 1</span>Lorem Ipsum </h1>
        </div>
        <div class="typography-line">
          <h2>
            <span>Header 2</span>Lorem Ipsum</h2>
        </div>
        <div class="typography-line">
          <h3>
            <span>Header 3</span>Lorem Ipsum</h3>
        </div>
        <div class="typography-line">
          <h4>
            <span>Header 4</span>Lorem Ipsum</h4>
        </div>
        <div class="typography-line">
          <h5>
            <span>Header 5</span>Lorem Ipsum</h5>
        </div>
        <div class="typography-line">
          <h6>
            <span>Header 6</span>Lorem Ipsum</h6>
        </div>
        <div class="typography-line">
          <p>
            <span>Pragrafo</span>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>